*{
  font-family: raleway;
  margin: 0;
}
.navbar{
  background-color: #7c9ed5;
  height: 80px;
  margin: 0;
}
input{
  margin-top: 30px;
  margin-left: 30px;
  color: #fff;
}
.submit{
  width: 150px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #17a2b8;
  color: #fff;
}

body{

  background-color: #abcbec;
}
.navbar input{
  width: 15rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 102, 102);
  color: white;
}
.navbar input:focus{
  outline: none;
}
.main{
  width: 200px;
}
h3{
  font-weight: bold;
  color: white;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  color: rgb(15, 15, 54);
}
.temp{
  font-weight: bold;
  font-size: 25px;
}
.A{
  font-weight: bold;
}
.mostly{
  width: 100px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:1rem;
}
.footerA{
  display: flex;
  flex-direction: column;
  margin: 1rem;

}
.footerA p{
  text-align: center;
}


@media only screen and (max-width: 440px){
	.navbar{
    display: flex;
    flex-direction: row;
    /* height: 40px; */
  }
  .navbar input, .navbar button{
    width: 5rem;
  }
}